:root{
    --green-color: #82BC24;
    --light-green-color: #F3F8E9;
    --blue-color: #1982C4;
    --light-blue-color: #E8F3F9;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Buttons */

.btn {
    padding: 14px 32px;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    position: relative;
}

.btn.green {
    background: var(--green-color);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.btn.light.green {
    padding: 8px 32px;
    font-size: 14px;
    font-weight: 450;
    background: var(--light-green-color);
    color: var(--green-color);
}

.btn.white.btn.green {
    background-color: #fff;
    color: var(--green-color);
    font-weight: 400;
}

.btn.white.black {
    color: #000;
    padding: 8px 12px;
    border-radius: 10px;
    text-align: center;
}

/* Header */

header {
    margin-top: 0px;
    margin-bottom: 80px;
    width: 100%;
    background-color: #fff;
}

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1200px;
    z-index: 100;
}

nav .logo {
    width: 136px;
    height: 48px;
    left: 0px;
    position: relative;
    top: 50%;
    /* transform: translateY(-50%); */
}

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0px;
}

nav ul li a {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

nav ul .shop-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 50%;
    /* transform: translateY(-50%); */
}

/* Main Section */

.main-section {
    display: flex;
    padding-top: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.main-section .left h1{
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 66px;
    line-height: 125%;
    color: #000;
    margin-bottom: 80px;
    margin-top: 60px;
}

.main-section .left {
    width: auto;
}

.main-section .right {
    margin-top: 60px;
}

.main-section .right img{
    width: 606px;
    height: 603px;
}

/* Features section */

section {
    margin-top: 0;
}

section.features-sections {
    width: 100%;
    background-color: var(--light-green-color);
    padding-top: 40px;
    padding-bottom: 80px;
    text-align: center;
}


h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}

section.features-sections h6{
    color: var(--green-color);
    margin-bottom: 10px;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    margin: 0;
    color: #000;
}

section.features-sections h2{
    text-align: center;
}

.feature-cards{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.feature-card{
    position: relative;
    width: 360px;
    height: 420px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    text-align: center;
    padding: 30px;
}

img.taxi {
    width: 100px;
    height: 100px;
}

img.food {
    width: 100px;
    height: 100px;
}

img.smart-search {
    width: 100px;
    height: 100px;
}

.feature-card h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.feature-card p{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
}

.feature-card .btn{
    margin-top: 10px;
}

/* Menu Section */

section.menu-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

section.menu-section h6 {
    text-align: center;
    color: var(--green-color);
    margin-bottom: 10px;
}

section.menu-section h2 {
    text-align: center;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 60px;
}

.filter-businesses ul{
    display: flex;
    gap: 15px;
    list-style: none;
}

.filter-businesses ul img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
}

.filter-businesses .btn.white.black{
    padding-left: 30px;
}

.food-cards{
    margin-top: 70px;
    height: 740px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /* overflow: scroll; */
    gap: 20px;
}

.food-card{
    width: 285px;
    height: 360px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    text-align: center;
    padding: 30px;
}

.food-card img{
    width: 100px;
    height: 100px;
}

.food-card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.food-card .price{
    margin-top: 30px;
}

.show-more{
    text-align: center;
    margin-top: 30px;
}

/* Testimonials section */

.testimonials-section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.testimonials-section h2 {
    text-align: center;
}

.testimonials-section hr {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100px;
    border: 4px solid var(--green-color);
    border-radius: 10px;
}

.testimonials-section .testimonials {
    display: flex;
    justify-content: space-between;
}

.testimonials-section .testimonials .left.arrow img {
    margin-top: 120px;
    width: 50px;
    height: 100px;
}

.testimonials-section .testimonials .right.arrow img {
    margin-top: 120px;
    width: 50px;
    height: 100px;
}

.testimonials-card {
    width: 1000px;
    height: 360px;

    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.testimonials-card .left {
    margin-left: 80px;
    margin-top: 80px;
    margin-right: 40px;
}

.testimonials-card img{
    width: 200px;
    height: 200px;
}

.testimonials-card .right {
    margin-top: 60px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.testimonials-card p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 20px;

    color: #000000;
}

.testimonials-card h4{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--green-color);
    margin-top: 60px;
    margin-bottom: 0px;
}

.testimonials-card .right .location{
    margin-top: 0px;
    color: #000;
    font-size: 16px;
}

/* Newsletter Section */

section.newsletter-section {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    background-color: var(--light-green-color);
}

section.newsletter-section h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-left: 335px;
    padding-right: 335px;
    color: #000000;
    margin-bottom: 30px;
}

section.newsletter-section form {
    align-items: center;
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
}

section.newsletter-section form input {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-color: transparent;
    padding: 10px 30px;
    width: 500px;
}

section.newsletter-section form .subscribe-button {
    position: absolute;
    right: 360px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--green-color);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-color: transparent;
    padding: 10px 30px;
    color: #fff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

/* Footer */

footer {
    color: #000;
    background-color: #fff;
    /* margin-top: 100px; */
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #666666;
}

footer h3 {
    color: #000;
    margin-left: 40px;
}

footer ul {
    margin-top: 40px;
    list-style: none;
}

footer .links-container .links .logo img {
    width: 134px;
    height: 48px;
}

footer .links-container .links .social img {
    width: 40px;
    height: 40px;
}

footer .links-container .links .social a{
    padding-right: 15px;
}

footer .links-container .links p {
    width: 220px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.6);
    margin-top: 25px;
    margin-bottom: 25px;
}

footer .links-container {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
}

footer ul li {
    margin: 20px;
    margin-left: 0px;
}
footer hr{
    margin-top: 20px;
    color: #666666;
}

footer .copyright {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;

    text-align: center;

    color: rgba(0, 0, 0, 0.6);
}
